<div>
  <form class="row align-items-center mb-4">
    <div class="col-auto">
      <label class="col-form-label" for="todo-item">Todo</label>
    </div>
    <div class="col-auto">
      <input type="text" id="todo-item" />
    </div>

    <button
      style="width: 100px;"
      class="btn btn-primary"
      type="submit"
    >Add</button>
  </form>

  <div>

  </div>
</div>